<h1>Sign up page</h1>
<form action="/users/create" method="post">
    <input type="text" name="name" required placeholder="Your Name">
    <input type="email" name="email" required placeholder="Your Email">
    <input type="password" name="password" required placeholder="Your password">
    <input type="password" name="confirm_password" required placeholder="confirm password">
    <button type="submit">Sign up</button>
</form>